{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/akolit_1.jpg' %}"
{% endblock %}

{% block imia %}
    аколиты Инквизиции
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/akolit_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/akolit_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/akolit_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Послушники:<br>
        Пока модель ИНКВИЗИТОРА возглавляет это подразделение, каждый раз, когда против этого подразделения совершается<br>
        атака, отнимайте 1 от Раны .
    </h5>
    <h5>
        Мистики:<br>
        Пока модель ИНКВИЗИТОРА возглавляет это подразделение, вражеские юниты, выставленные на поле боя в качестве подкрепления,<br>
        не могут быть выставлены в радиусе 12 дюймов от одной или нескольких моделей Мистиков этого подразделения.
    </h5>
    <h5>
        Джокаэро:<br>
        Пока модель ИНКВИЗИТОРА возглавляет это подразделение, если в нем есть модель Джокаэро, каждый раз, когда модель<br>
        в этом подразделении совершает дальнюю атаку, прибавляйте 1 к Ране .
    </h5>
    <h5>
        Демон-хозяин:<br>
        Пока модель ИНКВИЗИТОРА возглавляет это подразделение, если в нем есть модель Демона-хозяина, модели в этом<br>
        подразделении имеют 5+ неуязвимых сохранений.
    </h5>
    <h5>
        СОСТАВ ПОДРАЗДЕЛЕНИЯ<br>
        4 Помощника Инквизиции  = 40 <br>
        4 Помощника Инквизиции, 1 Оружейный Сервитор и 1 Мистик  = 60 <br>
        10 Помощников Инквизиции = 100<br>
        10 Помощников Инквизиции, 2 Оружейных Сервитора и 2 Мистика  = 140 <br>
        Джокаэро  +10<br>
        Демон-Хозяин  +10
    </h5>

{% endblock %}

{% block fra %} Assigned Agents {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/akolit_5.jpg' %}"
{% endblock %}

{% block f6 %}
    src = "{% static 'roster_1/img/akolit_6.jpg' %}"
{% endblock %}