{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/Draigo_1.jpg' %}"
{% endblock %}

{% block imia %}
    Калдор Драйго
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/Draigo_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/Draigo_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/Draigo_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Неприкасаемая чистота:<br> Пока эта модель возглавляет подразделение, модели в этом подразделении обладают
        способностью Не чувствовать боли 4+ против смертельных ран.
    </h5>
    <h5>
        Один с Варпом (экстрасенс):<br> Один раз за битву, когда юнит этой модели объявляет в тот же ход, в который он был
        назначен в качестве подкрепления, используя способность Глубокого , добавьте 3 к броску чарджа.
    </h5>
    <h5>
        ЛИДЕР.   Данная модель может возглавлять:  ТЕРМИНАТОРОВ, ПАЛАДИНОВ.
    </h5>
    <h5>
        ВЕРХОВНЫЙ ГЛАВНОКОМАНДУЮЩИЙ.   Если эта модель есть в вашей армии, она должна быть вашим Военачальником.
    </h5>
{% endblock %}


{% block fra %} Teleport Assault {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/Draigo_5.jpg' %}"
{% endblock %}

