{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/dred_1.jpg' %}"
{% endblock %}

{% block imia %}
    почётный дрэдноут
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/dred_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/dred_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/dred_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Мудрость древних (Аура):<br>
        Пока дружественное подразделение ПЕХОТЫ СЕРЫХ РЫЦАРЕЙ находится в пределах 6 дюймов от этой модели, каждый раз,<br>
        когда модель в этом подразделении совершает атаку, повторите бросок попадания, равный 1, и бросок ранения, равный 1.
    </h5>

{% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/dred_5.jpg' %}"
{% endblock %}


{% block f6 %}
    src = "{% static 'roster_1/img/dred_6.jpg' %}"
{% endblock %}
