{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/GM_v_NDK_1.jpg' %}"
{% endblock %}

{% block imia %}
    великий магистр в НДК
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/GM_v_NDK_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/GM_v_NDK_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/GM_v_NDK_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Преимущество героизма:<br>
        Каждый раз, когда вы применяете к этой модели Стратагему, ее использование обходится всего в 1 очко,<br>
        даже если стоимость CP выше.
    </h5>
    <h5>
        Всплеск гнева (экстрасенс):<br>
        Один раз за раунд боя, в фазе боя, одна модель из вашей армии, обладающая этой способностью, может использовать<br>
        ее перед прекращением своих атак. Если это произойдет, то до конца фазы каждый раз, когда эта модель совершает атаку,<br>
        нацеленную на МОНСТРА или ТРАНСПОРТНОЕ средство, вы можете повторно провести бросок попадания , вы можете <br>
        повторно провести бросок Ранения и вы можете повторно провести бросок Урона.
    </h5>
{% endblock %}

{% block fra %} Teleport Assault {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/GM_v_NDK_5.jpg' %}"
{% endblock %}



{% block f6 %}
    src = "{% static 'roster_1/img/GM_v_NDK_6.jpg' %}"
{% endblock %}
