{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/hempion_1.jpg' %}"
{% endblock %}

{% block imia %}
    чемпион
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/hempion_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/hempion_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/hempion_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Боевая ярость:<br> Каждый раз, когда эта модель совершает атаку ближнего боя, нацеленную на Персонажа,
        вы можете повторно провести бросок попадания и бросок ранения.
    </h5>
    <h5>
        Эфирное наказание (экстрасенс):<br> Пока эта модель возглавляет подразделение, модели в этом подразделении обладают
        способностью Сражаться первыми.
    </h5>
    <h5>
        ЛИДЕР.   Данная модель может возглавлять:  УДАРНЫЙ ОТРЯД, ОТРЯД ОЧИЩЕНИЯ.
    </h5>
{% endblock %}


{% block fra %} Teleport Assault {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/hempion_5.jpg' %}"
{% endblock %}