{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/Htern_1.jpg' %}"
{% endblock %}

{% block imia %}
    брат-капитан Штэрн
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/Htern_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/Htern_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/Htern_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Образец Посеребренного Воинства:<br> Пока эта модель возглавляет подразделение, каждый раз, когда модель в
        этом подразделении совершает атаку ближнего боя, при критическом ранении цель получает 1 смертельное ранение
        в дополнение к любому обычному урону.
    </h5>
    <h5>
        Нити судьбы (Экстрасенс):<br> В первый раз, когда эта модель будет уничтожена, бросьте один D6 в конце фазы.
        На уровне 2+ верните эту модель на поле боя как можно ближе к месту ее уничтожения, но не в пределах радиуса
        действия каких-либо вражеских юнитов, сохранив при этом все повреждения.
    </h5>
    <h5>
        ЛИДЕР.   Данная модель может возглавлять:  ТЕРМИНАТОРОВ, ПАЛАДИНОВ.
    </h5>
{% endblock %}

{% block fra %} Teleport Assault {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/Htern_5.jpg' %}"
{% endblock %}

