{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/kali_1.jpg' %}"
{% endblock %}

{% block imia %}
    калидус
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/kali_2.jpg' %}"
{% endblock %}
{% block f3 %}
    src = "{% static 'roster_1/img/kali_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/kali_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Царство замешательства: <br>Один раз за сражение, после того как ваш противник использует Стратагему, эта модель
        может использовать эту способность. В этом случае до конца битвы стоимость CP, которую ваш противник должен
        заплатить, чтобы снова использовать эту стратегию, увеличивается на 1 CP.
    </h5>
    <br>
    <h5>
        Полиморфин:<br> В конце хода вашего противника, если эта модель находится за пределами радиуса действия
        каких-либо вражеских юнитов, вы можете убрать ее с поля боя, а затем, на этапе Подкрепления вашей следующей
        фазы передвижения, установить ее в любом месте поля боя на расстоянии более 9 дюймов по горизонтали от всех
        вражеских моделей. Если битва заканчивается, а этой модели нет на поле боя, она уничтожается.
    </h5>
    <br>
    <h5>
        *СМЕРТЕЛЬНЫЕ УДАРЫ<br>
        Оружие, в профиле которого указано [СМЕРТЕЛЬНЫЕ УДАРЫ], называется оружием со смертельными ударами.
        Каждый раз, когда производится атака таким оружием, Критический удар (тухит) автоматически ранит цель (атотувунд).
    </h5>
{% endblock %}


{% block fra %} Агенты Империума{% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/kali_5.jpg' %}"
{% endblock %}

