{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/kapil_1.jpg' %}"
{% endblock %}

{% block imia %}
    капеллан
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/kapil_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/kapil_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/kapil_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Слова силы (экстрасенс):<br>
        Пока эта модель возглавляет подразделение, каждый раз, когда модель в этом подразделении совершает атаку ближнего боя,<br>
        прибавляйте 1 к броску Ранения.

    </h5>
    <h5>
        Несущая ужас (аура):<br>
        Пока вражеский отряд находится в пределах 6 дюймов от этой модели, каждый раз, когда этот отряд проходит тест<br>
        на Боевой шок Лидерство, вычтите 1 из этого теста.
    </h5>
    <h5>
        ЛИДЕР.   Данная модель может возглавлять:  ТЕРМИНАТОРОВ, ПАЛАДИНОВ.
    </h5>
{% endblock %}

{% block fra %} Teleport Assault {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/kapil_5.jpg' %}"
{% endblock %}
