{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/kep_1.jpg' %}"
{% endblock %}

{% block imia %}
    брат-капитан
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/kep_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/kep_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/kep_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Эмпирическое усиление (экстрасенсорное):<br> Пока эта модель возглавляет подразделение, Экстрасенсорное оружие,
        которым оснащены модели этого подразделения, обладает способностью [УСТОЙЧИВЫЕ ПОПАДАНИЯ 1]. <br>
        *[X ПОСТОЯННЫХ ПОПАДАНИЙ]: Каждое критическое попадание приносит ‘x’ дополнительных попаданий в цель.

    </h5>
    <h5>
        Сосредоточенный разум (экстрасенс):<br> Каждый раз, когда эта модель совершает атаку Экстрасенсорным оружием,
        вы можете повторно использовать бросок Ранения .
    </h5>
    <h5>
        ЛИДЕР.   Данная модель может возглавлять:  ТЕРМИНАТОРОВ, ПАЛАДИНОВ.
    </h5>
{% endblock %}

{% block fra %} Teleport Assault {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/kep_5.jpg' %}"
{% endblock %}

{% block f6 %}
    src = "{% static 'roster_1/img/kep_6.jpg' %}"
{% endblock %}