{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/kogoti_1.jpg' %}"
{% endblock %}

{% block imia %}
    штормовой коготь
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/kogoti_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/kogoti_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/kogoti_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Обстрел с бреющего полета:<br>
        Каждый раз, когда эта модель совершает дальнюю атаку по отряду, который не может летать, прибавляйте 1 к попаданию .
    </h5>
{% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/kogoti_5.jpg' %}"
{% endblock %}


{% block f6 %}
    src = "{% static 'roster_1/img/kogoti_6.jpg' %}"
{% endblock %}
