{% extends 'roster_1/YNIT.html'  %}
{% load static %}



{% block f1 %}
    src = "{% static 'roster_1/img/kroy_1.jpg' %}"
{% endblock %}

{% block imia %}
    Гарран Кроу
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/kroy_t.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/tabl_kroy.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/k_prais.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Чемпион Ордена Очистителей (Экстрасенс):<br>
        Пока эта модель возглавляет отряд, прибавьте 1 к Атакам, характерным для Очищающего Пламени этого отряда.
    </h5>
    <h5>
        Предвидение предсказателей (экстрасенсов):<br>
        Один раз за ход, при первом неудачном спасительном броске для этой модели,
        измените характеристику урона от этой атаки на 0.
    </h5>
    <h5>
        ЛИДЕР.   Данная модель может быть возглавлять:  ОТРЯД ОЧИСТИТЕЛЕЙ.
    </h5>
{% endblock %}


{% block fra %} Teleport Assault {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/kroy_sk.jpg' %}"
{% endblock %}



