{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/libr_1.jpg' %}"
{% endblock %}

{% block imia %}
    библиарий
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/libr_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/libr_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/libr_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Sanctic Hood:<br> Пока эта модель возглавляет подразделение, модели в этом подразделении обладают способностью
        Не чувствовать боли_4+ против психическихатак.
    </h5>
    <h5>
        Вихрь судьбы (Экстрасенс):<br> На этапе стрельбы вы можете выбрать одного вражеского юнита<br>
        в пределах 18 дюймов от этого ПСАЙКЕРА и сделать бросок D6: <br>
        при 1 балле юнит этого ПСАЙКЕРА получает D6 смертельных ран; <br>
        при 2-5 балле этот вражеский юнит получает 2D3 смертельных ранения; <br>
        при 6 балле этот вражеский юнит получает 2D6 смертельных ранений.
    </h5>
    <h5>
        ЛИДЕР.   Данная модель может возглавлять:  ТЕРМИНАТОРОВ, ПАЛАДИНОВ.
    </h5>
{% endblock %}

{% block fra %} Teleport Assault {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/libr_5.jpg' %}"
{% endblock %}

{% block f6 %}
    src = "{% static 'roster_1/img/libr_6.jpg' %}"
{% endblock %}