{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/magi_1.jpg' %}"
{% endblock %}

{% block imia %}
    великий магистр
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/magi_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/magi_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/magi_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Мастер-стратег:<br>
        Один раз за сражение один юнит из вашей армии, обладающий этой способностью, может быть применена стратагема
        бесплатно, даже если к другому юниту из вашей армии уже была применена эта Стратагема на этом этапе.
    </h5>
    <h5>
        Мощь Чистоты (Экстрасенс):<br>
        Пока эта модель лидирует в подразделении, вы можете игнорировать любые модификаторы характеристик моделей в
        этом подразделении и любые броски или тесты, сделанные для моделей в этом подразделении (исключая модификаторы
        спасительных бросков).
    </h5>
    <h5>
        ЛИДЕР.   Данная модель может возглавлять:  ТЕРМИНАТОРОВ, ПАЛАДИНОВ.
    </h5>
{% endblock %}


{% block fra %} Teleport Assault {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/magi_5.jpg' %}"
{% endblock %}

{% block f6 %}
    src = "{% static 'roster_1/img/magi_6.jpg' %}"
{% endblock %}
