{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/NDK_1.png' %}"
{% endblock %}

{% block imia %}
    НДК
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/NDK_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/NDK_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/NDK_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Эмпирическая расправа (экстрасенс):<br>
        Эта модель имеет право стрелять и объявлять атаку в ход, в котором
        она продвинулась вперед или откатилась назад.
    </h5>
    <h5>
        ПОВРЕЖДЕНО:<br> ОСТАЛОСЬ 1-4 РАНЫ. Хотя у этой модели осталось 1-4 ранения, каждый раз,
        когда эта модель совершает атаку, вычитайте 1 из броска попадания.
    </h5>
{% endblock %}

{% block fra %} Teleport Assault {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/NDK_5.jpg' %}"
{% endblock %}



{% block f6 %}
    src = "{% static 'roster_1/img/NDK_6.jpg' %}"
{% endblock %}
