{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/ohihe_1.jpg' %}"
{% endblock %}

{% block imia %}
    отряд очищения
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/ohihe_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/ohihe_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/ohihe_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Астральный прицел (экстрасенсорный): <br>
        На этапе стрельбы оружие дальнего боя, оснащенное моделями из этого подразделения, обладает способностью<br>
        НЕПРЯМОЙ ОГОНЬ*, при условии, что цель этого оружия видна одному или нескольким другим<br>
        дружественным СЕРЫМ подразделениям.<br>
        *(можно стрелять вне лоса. но -1 тухит)<br>

    </h5>
    <h5>
        Этим этот отряд могут возглавить:  Чемпион Братства.
    </h5>

{% endblock %}

{% block fra %} Teleport Assault {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/ohihe_5.jpg' %}"
{% endblock %}


{% block f6 %}
    src = "{% static 'roster_1/img/ohihe_6.jpg' %}"
{% endblock %}