{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/paladins_1.jpg' %}"
{% endblock %}

{% block imia %}
    паладины
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/pal_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/pal_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/pal_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Внутренняя стойкость (экстрасенс):<br> Каждый раз, когда атака нацелена на этого юнита, если характеристика
        Силы этой атаки превышает характеристику Выносливости этого юнита, вычтите 1 из броска Ранения.
    </h5>
    <h5>
        СПОСОБНОСТИ ОТ ОСНАЩЕНИЯ.<br>
        ЗнамяДревних:<br> Прибавьте 1 к характеристике объективного контроля моделей в подразделении носителя.
    </h5>
{% endblock %}

{% block fra %} Teleport Assault {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/pal_5.jpg' %}"
{% endblock %}

{% block f6 %}
    src = "{% static 'roster_1/img/pal_6.jpg' %}"
{% endblock %}