{% extends 'roster_1/baz_inf.html'  %}
{% load static %}

a = "{% static" + {{t}}

{% block alfa %}

    <a_st>
        {% if pravila == '1' %}
            <img src = "{% static 'roster_1/img/strata_1.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '2' %}
            <img src = "{% static 'roster_1/img/s_I_v.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '3' %}
            <img src = "{% static 'roster_1/img/p_prib.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '4' %}
            <img src = "{% static 'roster_1/img/t_d.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '5' %}
            <img src = "{% static 'roster_1/img/i_s_d.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '6' %}
            <img  src = "{% static 'roster_1/img/l_y.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '7' %}
            <img  src = "{% static 'roster_1/img/COR_g_y.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '8' %}
            <img  src = "{% static 'roster_1/img/COR_l.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '9' %}
            <img  src = "{% static 'roster_1/img/S_pbk.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '10' %}
            <img  src = "{% static 'roster_1/img/S_k.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '11' %}
            <img  src = "{% static 'roster_1/img/S_nzo.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '12' %}
            <img  src = "{% static 'roster_1/img/S_gerv.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '13' %}
            <img  src = "{% static 'roster_1/img/P_a_pr.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '14' %}
            <img  src = "{% static 'roster_1/img/Y_1.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '15' %}
            <img  src = "{% static 'roster_1/img/Y_2.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '16' %}
            <img  src = "{% static 'roster_1/img/Y_3.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '17' %}
            <img  src = "{% static 'roster_1/img/Y_4.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '18' %}
            <img   src = "{% static 'roster_1/img/S_bez_h.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '19' %}
            <img   src = "{% static 'roster_1/img/S_gr.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '20' %}
            <img  src = "{% static 'roster_1/img/S_gran_v.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '21' %}
            <img   src = "{% static 'roster_1/img/S_tank_hok.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '22' %}
            <img   src = "{% static 'roster_1/img/S_bis_pro.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '23' %}
            <img  src = "{% static 'roster_1/img/S_dim_zav.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '24' %}
            <img   src = "{% static 'roster_1/img/P_vzriv.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '25' %}
            <img   src = "{% static 'roster_1/img/P_palyba.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '26' %}
            <img  src = "{% static 'roster_1/img/P_tel_hynt.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '27' %}
            <img  src = "{% static 'roster_1/img/S_zale_na_ze.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '28' %}
            <img  src = "{% static 'roster_1/img/P_skayt.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '29' %}
            <img  src = "{% static 'roster_1/img/P_pervim.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '30' %}
            <img  src = "{% static 'roster_1/img/P_laz.png' %}" alt="" >
        {% endif %}

        {% if pravila == '31' %}
            <img  src = "{% static 'roster_1/img/P_skrit.png' %}" alt="" >
        {% endif %}

        {% if pravila == '32' %}
            <img  src = "{% static 'roster_1/img/P_odin.jpg' %}" alt="" >
        {% endif %}

        {% if pravila == '33' %}
            <img  src = "{% static 'roster_1/img/P_hover.jpg' %}" alt="" >
        {% endif %}
        {% if pravila == '34' %}
            <img  src = "{% static 'roster_1/img/P_AI.jpg' %}" alt="" >
        {% endif %}
    </a_st>

{% endblock %}


