{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/purif_1.jpg' %}"
{% endblock %}

{% block imia %}
    пурифаеры
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/pyrif_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/pyrif_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/pyrif_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Святость цели:<br> Каждый раз, когда модель в этом подразделении совершает атаку, добавляйте 1 к броску Попадания,
        если у этого подразделения Начальная сила ниже, и также добавляйте 1 к броску Ранения, если у этого
        подразделения меньше Половины силы.
    </h5>
{% endblock %}

{% block fra %} Teleport Assault {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/pyrif_6.jpg' %}"
{% endblock %}


{% block f6 %}
    src = "{% static 'roster_1/img/pyrif_5.jpg' %}"
{% endblock %}
