{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/razer_1.jpg' %}"
{% endblock %}

{% block imia %}
    разербэк
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/razer_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/razer_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/razer_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Огневая поддержка:<br> На вашей фазе стрельбы, после того как эта модель выстрелила, выберите одного вражеского<br>
        юнита, который нанес одно или несколько попаданий в этой фазе. До конца фазы каждый раз, когда дружественная<br>
        модель, высадившаяся из этого Транспорта в этот ход, совершает атаку, нацеленную на этого вражеского юнита,<br>
        вы можете повторно сделать бросок Ранения .
    </h5>
    <h5>
        ТРАНСПОРТ.<br>
        Эта модель рассчитана на перевозку 6 моделей ПЕХОТЫ GREY KNIGHTS. Он не может перевозить модели ТЕРМИНАТОРА.
    </h5>
{% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/razer_5.jpg' %}"
{% endblock %}


{% block f6 %}
    src = "{% static 'roster_1/img/razer_6.jpg' %}"
{% endblock %}
