{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/rino_1.jpg' %}"
{% endblock %}

{% block imia %}
    рино
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/rino_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/rino_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/rino_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Самовосстановление:<br> В начале вашей фазы командования эта модель восстанавливает 1 потерянную рану.
    </h5>
    <h5>
        ТРАНСПОРТ.<br>
        Эта модель рассчитана на перевозку 12 моделей ПЕХОТЫ GREY KNIGHTS. Он не может перевозить модели ТЕРМИНАТОРА.
    </h5>
{% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/rino_5.jpg' %}"
{% endblock %}


{% block f6 %}
    src = "{% static 'roster_1/img/rino_6.jpg' %}"
{% endblock %}
