{% extends 'roster_1/baz_inf.html'  %}
{% load static %}


{% block alfa %}


    <h2>{{a}}</h2>
    <h3>формат:   {{a.form }} .</h3>
    <h3>ростер "одной строкой":</h3>
    <h5>{{a.r|linebreaks}}</h5>


    <a_il>
        <ul>
            {% if 'Драйго' in a.r %}
                <a href="{% url 'Draigo' %}" ><li_1><img src = "{% static 'roster_1/img/Draigo_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'Кроу' in a.r %}
                <a href="{% url 'Kr' %}" ><li_1><img src = "{% static 'roster_1/img/kroy_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'брат-капитан Штэрн' in a.r or 'Штэрн' in a.r or 'брат-кэп. Штэрн' in a.r  %}
                <a href="{% url 'Htern' %}" ><li_1><img    src = "{% static 'roster_1/img/Htern_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'либр' in a.r or 'библиарий' in a.r or 'либр в термо арморе' in a.r  %}
                <a href="{% url 'libr' %}" ><li_1><img    src = "{% static 'roster_1/img/libr_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'технодесантник' in a.r or 'техмар' in a.r or 'тех. мар' in a.r %}
                <a href="{% url 'tehmar' %}" ><li_1><img src = "{% static 'roster_1/img/tehmar_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'чемпион' in a.r %}
                <a href="{% url 'hempion' %}" ><li_1><img src = "{% static 'roster_1/img/hempion_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'брат-капитан' in a.r or 'кэп' in a.r or 'брат-кэп' in a.r  %}
                <a href="{% url 'kep' %}" ><li_1><img    src = "{% static 'roster_1/img/kep_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'великий магистр' in a.r or 'магистр' in a.r or 'Магистр' in a.r  %}
                <a href="{% url 'magi' %}" ><li_1><img    src = "{% static 'roster_1/img/magi_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'капеллан' in a.r %}
                <a href="{% url 'kapil' %}" ><li_1><img    src = "{% static 'roster_1/img/kapil_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'ГМ_в_NDK' in a.r or 'ГМвNDK' in a.r %}
                <a href="{% url 'GM_v_NDK' %}" ><li_1><img    src = "{% static 'roster_1/img/GM_v_NDK_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}

            {% if 'ударный отряд' in a.r or 'страйк сквад' in a.r or 'SS' in a.r %}
                <a href="{% url 'skvad' %}" ><li_1><img src = "{% static 'roster_1/img/skvad_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'перехватчики' in a.r %}
                <a href="{% url 'perehv' %}" ><li_1><img src = "{% static 'roster_1/img/perehv_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'пурифаеры' in a.r or 'очистители' in a.r %}
                <a href="{% url 'purif' %}" ><li_1><img src = "{% static 'roster_1/img/purif_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'отряд очищения' in a.r or 'чистельщики' in a.r %}
                <a href="{% url 'ohihe' %}" ><li_1><img src = "{% static 'roster_1/img/ohihe_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}

            {% if 'терминаторы' in a.r %}
                <a href="{% url 'termi' %}" ><li_1><img src = "{% static 'roster_1/img/termi_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'палы' in a.r or 'паладины' in a.r or 'паладин-сквад' in a.r  %}
                <a href="{% url 'palad' %}" ><li_1><img src = "{% static 'roster_1/img/paladins_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'сервиторы' in a.r %}
                <a href="{% url 'serv' %}" ><li_1><img src = "{% static 'roster_1/img/servitor_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}

            {% if 'НДК' in a.r %}
                <a href="{% url 'NDK' %}" ><li_1><img src = "{% static 'roster_1/img/NDK_1.png' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'рино' in a.r or 'рина' in a.r%}
                <a href="{% url 'rino' %}" ><li_1><img src = "{% static 'roster_1/img/rino_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'дрэд' in a.r or 'дрэдноут' in a.r or 'почётный дрэдноут' in a.r %}
                <a href="{% url 'dred' %}" ><li_1><img src = "{% static 'roster_1/img/dred_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'штормовой коготь' in a.r or 'коготь' in a.r or 'самолёт' in a.r %}
                <a href="{% url 'kogoti' %}" ><li_1><img src = "{% static 'roster_1/img/kogoti_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}


            {% if 'виндикар' in a.r or 'вендикар' in a.r or 'ассасин вендикар' in a.r  %}
                <a href="{% url 'vind' %}" ><li_1><img    src = "{% static 'roster_1/img/vind_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'калидус' in a.r or 'ассасим-метаморф' in a.r or 'ассасин калидус' in a.r  %}
                <a href="{% url 'kali' %}" ><li_1><img    src = "{% static 'roster_1/img/kali_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}
            {% if 'аколиты' in a.r or 'аколлиты' in a.r %}
                <a href="{% url 'akolit' %}" ><li_1><img    src = "{% static 'roster_1/img/akolit_1.jpg' %}" alt="" ></li_1></a>
            {% endif %}

        </ul>
    </a_il>


    {% if request.user.is_authenticated %}
        <a_red>
            <ul>
                <a href="{% url 'izmen' a.id %}" class="btn btn-danger" >редактировать</a>
            </ul>
        </a_red>
        <a_del>
            <ul>
                <a href="{% url 'dele' a.id %}" class="btn btn-danger" >удалить</a>
            </ul>
        </a_del>
    {% endif %}





{% endblock %}