{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/servitor_1.jpg' %}"
{% endblock %}

{% block imia %}
    СЕРВИТОРЫ
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/servitor_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/servitor_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/servitor_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Блокировка разума:<br> Пока модель ТЕХНОДЕСАНТНИКА БРАТСТВА возглавляет это подразделение, улучшите баллистические
        навыки и оружейные характеристики оружия дальнего и ближнего боя, которыми оснащены модели СЕРВИТОРОВ
        в этом подразделении, на 1.
    </h5>
    <h5>
        Свита: <br>В то время как модель ТЕХНОДЕСАНТНИКА БРАТСТВА возглавляет это подразделение, модели в этом
        подразделении обладают способностями к глубокому удару и телепортации нападению.
    </h5>
        СВИТА СЕРВИТОРОВ.<br> В начале объявлять боевые порядки шаг, этот блок может присоединиться один блок от
        своей армии, что в настоящее время во главе БРАТСТВА ТЕХНОДЕСАНТНИК (единица не может иметь более одного СЛУГИ
        блок присоединились к нему). Если это так, до конца битвы, каждая модель данного устройства считается частью
        Телохранитель блок, и что телохранитель группы начиная прочность увеличивается соответственно.
    </h5>
    <h5>
        Этим этот отряд может возглавить:   Технодесантник Братства.
    </h5>


{% endblock %}

{% block fra %} Teleport Assault (если их ведёт ТЕХНОДЕСАНТНИК) {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/servitor_5.jpg' %}"
{% endblock %}


{% block f6 %}
    src = "{% static 'roster_1/img/servitor_6.jpg' %}"
{% endblock %}