{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/skvad_1.jpg' %}"
{% endblock %}

{% block imia %}
    УДАРНЫЙ ОТРЯД
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/skvad_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/skvad_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/skvad_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Ритуал освящения (экстрасенсорный):<br> Если вы контролируете маркер цели в конце вашей фазы командования,
        и этот юнит находится в пределах досягаемости этого маркера цели, этот маркер цели остается под вашим
        контролем, даже если у вас нет моделей в пределах досягаемости до него, пока ваш противник не контролирует
        его в начале или конце любого хода.
    </h5>
    <h5>
        Этим этот отряд могут возглавить:  Чемпион Братства,  Технодесантник.
    </h5>

{% endblock %}

{% block fra %} Teleport Assault {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/skvad_5.jpg' %}"
{% endblock %}


{% block f6 %}
    src = "{% static 'roster_1/img/skvad_6.jpg' %}"
{% endblock %}