{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/tehmar_1.jpg' %}"
{% endblock %}

{% block imia %}
    технодесантник
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/tehmar_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/tehmar_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/tehmar_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Пробудите дух машины:<br> На этапе командования вы можете выбрать одну дружественную модель ТЕХНИКИ GREY KNIGHTS
        в пределах 6 дюймов от этой модели. До начала вашего следующего этапа командования, каждый раз, когда данная
        модель МАШИНЫ совершает атаку, добавляйте 1 к броску попадания.
    </h5>
    <h5>
        Благословение Омниссии:<br> На этапе командования вы можете выбрать одну дружественную модель МАШИНЫ СЕРЫХ РЫЦАРЕЙ
        в пределах 3 дюймов от этой модели. Эта модель МАШИНЫ восстанавливает утраченные повреждения до D3.
    </h5>
    <h5>
        Технодесантник:<br> Хотя эта модель находится в пределах 3 дюймов от одного или нескольких дружественных
        подразделений на ТЕХНИКЕ "СЕРЫХ РЫЦАРЕЙ", если только она не возглавляет подразделение, эта модель обладает
        способностью ОПЕРАТИВНИК-ОДИНОЧКА*.
    </h5>
    <h5>
        *ОПЕРАТИВНИК-ОДИНОЧКА.<br> Если он не является частью приданного подразделения (см. "Лидер"), это подразделение
        может быть выбрано в качестве цели для дальней атаки только в том случае, если атакующая модель находится
        в пределах 12 дюймов.
    </h5>
    <h5>
        ЛИДЕР. Данная модель может быть возглавлять: УДАРНЫЙ ОТРЯД, СЕРВИТОРЫ.
    </h5>
{% endblock %}

{% block ssilki_1 %}
    <ul>
        <a href = "{% url 'cor_g_y'%}" ><li>Глубокий удар</li></a>
        <a href="{% url 'cor_l'%}" ><li>Лидер</li></a>
    </ul>
{% endblock %}

{% block fra %} Teleport Assault {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/tehmar_5.jpg' %}"
{% endblock %}


{% block f6 %}
    src = "{% static 'roster_1/img/tehmar_6.jpg' %}"
{% endblock %}
