{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/termi_1.jpg' %}"
{% endblock %}

{% block imia %}
    ТЕРМИНАТОРЫ
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/termi_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/termi_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/termi_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Рука-молот (Экстрасенс):<br> Каждый раз, когда модель в этом подразделении совершает Атакующий ход,
        до конца хода оружие ближнего боя, которым оснащены модели в этом подразделении,
        обладает способностью [СМЕРТЕЛЬНЫЕ УДАРЫ]*.
    </h5>
    <h5>
        *Оружие, в профиле которого указано [СМЕРТЕЛЬНЫЕ УДАРЫ], называется оружием смертельных ударов.
        Каждый раз, когда производится атака с использованием такого оружия, Критический удар автоматически ранит цель.
    </h5>
        СПОСОБНОСТИ ОТ ОСНАЩЕНИЯ<br>
        ЗнамяДревних:СПОСОБНОСТИ ОТ ОСНАЩЕНИЯ<br> Прибавьте 1 к характеристике объективного контроля моделей в подразделении носителя.
        <br>
        Нартециум:СПОСОБНОСТИ ОТ ОСНАЩЕНИЯ<br> На этапе командования вы можете вернуть 1 уничтоженную модель
        (исключая ПЕРСОНАЖЕЙ) подразделению носителя.
    </h5>
{% endblock %}

{% block fra %} Teleport Assault {% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/termi_5.jpg' %}"
{% endblock %}


{% block f6 %}
    src = "{% static 'roster_1/img/termi_6.jpg' %}"
{% endblock %}