{% extends 'roster_1/YNIT.html'  %}
{% load static %}

{% block f1 %}
    src = "{% static 'roster_1/img/vind_1.jpg' %}"
{% endblock %}

{% block imia %}
    виндикар
{% endblock %}

{% block f2 %}
    src = "{% static 'roster_1/img/vind_2.jpg' %}"
{% endblock %}

{% block f3 %}
    src = "{% static 'roster_1/img/vind_3.jpg' %}"
{% endblock %}

{% block f4 %}
    src = "{% static 'roster_1/img/vind_4.jpg' %}"
{% endblock %}

{% block spo %}
    <h5>
        Смертельный выстрел: Каждый раз, когда эта модель совершает атаку дальнего боя, в случае критического попадания,
        прибавляйте 3 к урону, характерному для этой атаки. После того, как эта модель разрешит свои атаки дальнего боя,
        выберите одного вражеского юнита, который был поражен одной или несколькими из этих атак. Это подразделение
        должно пройти тест боевой шок.
    </h5>
    <h5>
        Сокрушитель щитов: Один раз за бой, при выборе целей для винтовки exitus этой модели, она может произвести
        выстрел сокрушителем щитов. Если это произойдет, то до конца фазы, каждый раз, когда эта модель совершает
        атаку этим оружием, никакие спасительные броски против этой атаки не могут быть сделаны.
    </h5>
{% endblock %}


{% block fra %} Агенты Империума{% endblock %}

{% block f5 %}
    src = "{% static 'roster_1/img/vind_5.jpg' %}"
{% endblock %}

